*{

}
body{
    background-color: fuchsia;
    width: 100%;
}

header{
    background-color: aquamarine;

}

header h1{
    color: blueviolet;
}

nav{
    background-color: brown;
    
}

nav ul{
    background-color: ghostwhite;
    text-align: center;
    
}

nav ul li{
    display:inline-block;
    
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: cadetblue;
    padding: 15px;
    width: 100%;
    margin: 15px;
    
}

h2{
    color: crimson;
    text-align: center;
}

h3{
    color: blue;
    text-align: center;
}

.footer{
    background-color: chartreuse;
    color: white;
    width: 100%;
    align-self: center;
}

.footer p{
    color: deeppink;
    text-align: center;
}

.about{
    align-items: center;
    background-color: yellow;
    margin: 15px;   
    display: inline-block;
    width: 100%;
}

.about img{
    max-width: 300px;
    max-height: 400px;
    margin: 15px;
    display: inline;
    float: left;
    border-radius: 50%;
}

.about p{
    float: right;
    width: 80%;
}


.work{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    flex-wrap: wrap;
    background-color: orange;    
    width: 100%;
    justify-content: space-between;
    align-items: baseline;


}

.card-one{
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    max-width: 100%;
}

.card-one header{
    padding: 5px;
    background: #13293d;
    color: #fff;
    margin: 5px;
    width: 50%;
}
.card-one img {
    flex: 2 1 300px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    justify-content: stretch;
}

.card {
    flex: 1 0 100px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    max-width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    
    

    
    
}
  
.card header {
    padding: 5px;
    background: #13293d;
    color: #fff;
    margin: 5px;
    width: 50%;

}
  
.card img {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    justify-content: stretch;
    
    
}




.work h2{
    width: 100%;
}

@media screen and (max-width: 992px) {
    main {
      background: #772014;
      align-items: center;
    }
  }
  
 
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
      align-items: center;
    }
  }

  @media screen and (max-width: 576px) {
    header {
      background-color: #8ac4ff;
    }
  }
  
 

